* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* width: 100rem; */
    height: 25rem;
    background-color: #f8f4f4;
    border-radius: 1rem;
}

.back_img img {
    width: 100%;
    height: 16rem;
    position: relative;
}

.profile {
    width: 5rem;
    height: 3rem;
}

.profile img {
    width: 8rem;
    height: 8rem;
    border: 4px solid #fff;
    border-radius: 13px;
    position: absolute;
    top: 10.5rem;
    left: 2rem;
}

h3 {
    padding-left: 1.3rem;
    font-family: 'Work Sans', sans-serif;
}

p {
    padding-left: 1.3rem;
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: lighter;
    padding-top: 5px;
    color: #7d7b7b;
    margin-top: 5px;
}

/* ///////project section starts//////////// */

.child_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child_container h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    padding-left: 1.3rem;
    margin-top: 5rem;
}

.child_container span {
    font-size: 1rem;
    color: #a19f9f;
}

.button_container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.select_act {
    width: 4rem;
    height: 1rem;
    outline: none;
    border: none;
    background-color: #faf7f7;
    margin-right: 5rem;
    font-size: 1rem;
    margin-top: 5rem;
}

button {
    border: none;
    outline: none;
    background-color: rgb(35, 67, 227);
    color: #fff;
    font-size: 1rem;
    margin-top: 5rem;
    padding: .7rem .7rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

.pro_container {
    /* width: 100%;
    height: 100%; */

}

.main_div {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #faf1f1;
}

.div {
    width: 28rem;
    height: 22rem;
    background-color: #fff;
    border-radius: 1.5rem;



}

.pro_logo {
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
    margin-left: 2rem;

}

.div h3 {
    margin-top: 2rem;
}

.minidiv {
    width: 10rem;
    height: 4rem;
    background-color: rgb(249, 245, 245);
    margin-left: 2rem;
    border-radius: .7rem;
    border: 1px solid rgba(11, 10, 10, 0.281);
    margin-top: 2rem;
    /* padding: 10px 10px 10px 10px; */
}

.mini_main_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 4rem;
    margin-right: 4rem;
}

.line {
    position: relative;
    width: 22rem;
    height: .5rem;
    background-color: rgb(232, 226, 226);
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 1rem;
}

.line::after {
    position: absolute;
    content: "";
    width: 15rem;
    height: .5rem;
    background-color: rgb(0, 136, 255);
    top: 0px;
    left: 0px;
    border-radius: 1rem;
}

.line2::after {
    width: 6rem;
    background-color: purple;
}

.line3::after {
    width: 20rem;
    background-color: rgb(4, 128, 0);
}

.line4::after {
    width: 16rem;
    background-color: rgb(188, 6, 188);
}

.line5::after {
    width: 14rem;
    background-color: rgb(0, 70, 128);
}

.line6::after {
    width: 18rem;
    background-color: rgb(0, 28, 128);
}

.line7::after {
    width: 20rem;
    background-color: rgb(7, 207, 60);
}

.line8::after {
    width: 4rem;
    background-color: rgb(255, 77, 255);
}

.line9::after {
    width: 21rem;
    background-color: rgb(11, 187, 5);
}

.review_logo {
    width: 3rem;
    height: 3cqi;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 2rem;

}

/* ////////footer section starts///////////// */

.footer_sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.footer_links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.footer_links ul li {

    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    list-style: none;
    margin: 1rem;
    color: #7d7b7b;

}


/* //////media queries////////// */
/* //////tablet responsive////// */


@media screen and (max-width:768px) {
    .main_container {
        width: 48rem;
    }
    .back_img {
        width: 48rem;
    }

    .container {
        width: 48rem;
    }
    .div {
        width: 22rem;
        height: 22rem;
    }
    .main_div {
        width: 48rem;
        height: 105rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 3rem;
        background-color: #faf1f1;
    }
    .div9 {
        visibility: hidden;
    }
    .div h3 {
        font-size: 1.2rem;
        margin-top: .5rem;
    }
    .minidiv {
        width: 15rem;
        height: 5rem;
        background-color: rgb(249, 245, 245);
        margin-left: 2rem;
        border-radius: .7rem;
        border: 1px solid rgba(11, 10, 10, 0.281);
        margin-top: 1rem;
    }
    .line {
        width: 19rem;
    }
    .footer_sec {
        background-color: rgb(18, 4, 46);
        width: 48rem;
        height: 22rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-top: 6rem;
        padding-bottom: 2rem;
        color: #fff;
        font-size: 1rem;
    }
    .footer_sec p {
        font-size: 1rem;
    }
}
